<div fxLayout="column" style="width: 100%; height: 100%;">
        <mat-toolbar color="primary">
            <mat-toolbar-row>
                <button mat-icon-button (click)="sidenav.toggle()">
                    <mat-icon>menu</mat-icon>
                </button>
                Project Monitoring System (demo)
                <span fxFlex="1 1 auto"></span>
                <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item routerLink="">
                        <mat-icon>exit_to_app</mat-icon>Logout
                    </button>
                </mat-menu>        
            </mat-toolbar-row>
        </mat-toolbar>


        <mat-sidenav-container fxFlex="1 1 auto" id="body">
            
            <mat-sidenav id="sidenav" #sidenav mode="over" align="start" fxLayout="column">
                
                <button mat-flat-button routerLink="" (click)="sidenav.toggle()">
                    <mat-icon>home</mat-icon>
                    Notifications
                </button>

                <button mat-flat-button routerLink="projects" (click)="sidenav.toggle()">
                    <mat-icon>notifications</mat-icon>
                    Projects
                </button>

                <button mat-flat-button routerLink="contractors" (click)="sidenav.toggle()">
                    <mat-icon>person</mat-icon>
                    Contractors
                </button>

                <button mat-flat-button routerLink="messages" (click)="sidenav.toggle()">
                    <mat-icon>email</mat-icon>
                    Messages
                </button>

            </mat-sidenav>
            <div style="padding: 10px">
                <router-outlet></router-outlet>
            </div>
        </mat-sidenav-container>

 
</div>