<div style="height: 100%; width: 100%" fxLayout="column">
    
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            Project Monitor (demo)
            <span fxFlex="1 1 auto"></span>
            <button mat-button routerLink="./login">Login</button>
        </mat-toolbar-row>    
    </mat-toolbar>

    <div fxFlex="1 1 auto" fxLayout="column" fxLayoutGap="20px" style="padding: 20px">
        
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    Katsina State Ministry of Works
                </mat-card-title>
                <mat-card-subtitle>
                    Project Monitor(demo)
                </mat-card-subtitle>
            </mat-card-header>
            <img matCardImage src="">
            <mat-card-content>

            </mat-card-content>
        </mat-card>

        <mat-card fxLayout.xs="column" fxLayoutAlign="center center" fxLayoutGap.gt-xs="40px" fxLayout.gt-xs="row">
            <mat-card fxFlex="30%">
                <mat-card-header>
                    <mat-card-title>Project</mat-card-title>
                    <mat-card-subtitle>Brief</mat-card-subtitle>
                </mat-card-header>
                <img matCardImage src="Card wide image source"> 
                <mat-card-content>
                    Brief description of project
                </mat-card-content>
            </mat-card>

            <mat-card fxFlex="30%">
                <mat-card-header>
                    <mat-card-title>Project</mat-card-title>
                    <mat-card-subtitle>Brief</mat-card-subtitle>
                </mat-card-header>
                <img matCardImage src="Card wide image source"> 
                <mat-card-content>
                    Brief description of project
                </mat-card-content>
            </mat-card>

            <mat-card fxFlex="30%">
                <mat-card-header>
                    <mat-card-title>Project</mat-card-title>
                    <mat-card-subtitle>Brief</mat-card-subtitle>
                </mat-card-header>
                <img matCardImage src="Card wide image source"> 
                <mat-card-content>
                    Brief description of project
                </mat-card-content>
            </mat-card>
        </mat-card>

        <mat-card fxLayoutGap="20px" fxLayoutAlign="center center" fxLayout.xs="column" fxlayout.gt-xs="row">
            <mat-card fxFlex="50%">
                <mat-card-header>
                    <mat-card-title>
                        Most recent  updates
                    </mat-card-title>
                    <mat-card-subtitle></mat-card-subtitle>
                </mat-card-header>
                <mat-divider></mat-divider>

                <mat-card-content dense>
                    <mat-list>
                        <mat-list-item>Classroom Construction at GDSS Dabai</mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item>Classroom Construction at GDSS Kafur</mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item>Toilet Construction at Funtua Teaching Hospital</mat-list-item>
                    </mat-list>
                </mat-card-content>
                <mat-card-actions align="end">
                    <button mat-flat-button color="primary">
                        View more
                    </button>
                </mat-card-actions>
            </mat-card>

            <mat-card fxFlex="50%">
                <mat-card-header>
                    <mat-card-title>
                        Most recent  updates
                    </mat-card-title>
                    <mat-card-subtitle></mat-card-subtitle>
                </mat-card-header>
                <mat-divider></mat-divider>

                <mat-card-content dense>
                    <mat-list>
                        <mat-list-item>Classroom Construction at GDSS Dabai</mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item>Classroom Construction at GDSS Kafur</mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item>Toilet Construction at Funtua Teaching Hospital</mat-list-item>
                    </mat-list>
                </mat-card-content>
                <mat-card-actions align="end">
                    <button mat-flat-button color="primary">
                        View more
                    </button>
                </mat-card-actions>
            </mat-card>
            
        </mat-card>

    </div>

    

    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <span fxFlex="1 1 auto"></span>
            Footer &copy;
            <span fxFlex="1 1 auto"></span>
        </mat-toolbar-row>
    </mat-toolbar>
</div>