<div style="height: 100%; width: 100%" fxLayout="column">
    
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            Project Monitor (demo)
            <span fxFlex="1 1 auto"></span>
            <button mat-button routerLink="./login">Login</button>
        </mat-toolbar-row>    
    </mat-toolbar>

    <div fxFlex="1 1 auto" fxLayout="column" fxLayoutGap="20px" style="padding: 20px">
        
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    Katsina State Ministry of Works
                </mat-card-title>
            </mat-card-header>
            <img matCardImage src="assets/imgs/banner.jpg">
        </mat-card>

        <mat-card fxLayout.xs="column" fxLayoutGap.xs="100px" fxLayoutAlign="center center" fxLayoutGap.gt-xs="40px" fxLayout.gt-xs="row">
            
            <mat-card fxFlex.gt-xs="30%">
                <mat-card-header>
                    <mat-card-title>Livebox Solutions server installation</mat-card-title>
                    <mat-card-subtitle>GDSS Dabai</mat-card-subtitle>
                </mat-card-header>
                <img matCardImage src="assets/imgs/01.JPG"> 
                <mat-card-content>
                    <p>Government Day Secondary School Dabai has become the first beneficiary of the state Government's initiative to deploy digital learning resources across secondary schools within the state of Katsina.</p> 
                </mat-card-content>
            </mat-card>

            <mat-card fxFlex="30%">
                <mat-card-header>
                    <mat-card-title>Irrigation farming system</mat-card-title>
                    <mat-card-subtitle>Danja LGA</mat-card-subtitle>
                </mat-card-header>
                <img matCardImage src="assets/imgs/02.JPG"> 
                <mat-card-content>
                    <p>
                        The Danja irrigation farming initiative dam project has been commissioned and has since seen farmers adopt it to foster dry season farming.
                    </p>
                </mat-card-content>
            </mat-card>

            <mat-card fxFlex="30%">
                <mat-card-header>
                    <mat-card-title>Kafur Online Resource Center</mat-card-title>
                    <mat-card-subtitle>Kafur LGA</mat-card-subtitle>
                </mat-card-header>
                <img matCardImage src="assets/imgs/03.jpg"> 
                <mat-card-content>
                    <p>Construction has commenced in Kafur, of an online resource center to help foster and promote digital transformation of the state by providing the youth invaluable resources in Information Technology.</p>
                </mat-card-content>
            </mat-card>
        </mat-card>

        <mat-card fxLayoutGap="20px" fxLayoutAlign="center center" fxLayout.xs="column" fxlayout.gt-xs="row">
            <mat-card fxFlex="50%">
                <mat-card-header>
                    <mat-card-title>
                        Most recent  updates
                    </mat-card-title>
                    <mat-card-subtitle></mat-card-subtitle>
                </mat-card-header>
                <mat-divider></mat-divider>

                <mat-card-content>
                    <mat-list>
                        <mat-list-item>Classroom Construction at GDSS Dabai</mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item>Classroom Construction at GDSS Kafur</mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item>Toilet Construction at Funtua Teaching Hospital</mat-list-item>
                        <mat-list-item>Classroom Construction at GDSS Dabai</mat-list-item>
                    </mat-list>
                </mat-card-content>
                <mat-card-actions align="end">
                    <button mat-flat-button color="primary">
                        View more
                    </button>
                </mat-card-actions>
            </mat-card>

            <mat-card fxFlex="50%">
                <mat-card-header>
                    <mat-card-title>
                        Most recent  updates
                    </mat-card-title>
                    <mat-card-subtitle></mat-card-subtitle>
                </mat-card-header>
                <mat-divider></mat-divider>

                <mat-card-content>
                    <mat-list>
                        <mat-list-item>Classroom Construction at GDSS Dabai</mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item>Classroom Construction at GDSS Kafur</mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item>Toilet Construction at Funtua Teaching Hospital</mat-list-item>
                        <mat-list-item>Toilet Construction at Funtua Teaching Hospital</mat-list-item>
                    </mat-list>
                </mat-card-content>
                <mat-card-actions align="end">
                    <button mat-flat-button color="primary">
                        View more
                    </button>
                </mat-card-actions>
            </mat-card>
            
        </mat-card>

    </div>

    

    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <span fxFlex="1 1 auto"></span>
            Livebox &copy;
            <span fxFlex="1 1 auto"></span>
        </mat-toolbar-row>
    </mat-toolbar>
</div>