<mat-toolbar color="accent">
    <mat-toolbar-row>
        <button mat-flat-button color="primary" (click)="openAddContractorDialog()">
            <mat-icon>add</mat-icon> Add Contractor
        </button>
    </mat-toolbar-row>
</mat-toolbar>
<div style="padding: 20px;">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                Contractors
            </mat-card-title>
            <mat-card-subtitle>

            </mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>

        </mat-card-content>

    </mat-card>
</div>