<h1 matDialogTitle>Project details</h1>

<mat-dialog-content>

    <mat-card>
        <mat-card-header>
            <mat-card-title>
                Project title
            </mat-card-title>
            <mat-card-subtitle>
                Town, LGA
            </mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
            Description ....
            <mat-list>
                <mat-list-item>
                    Budget : 0.00
                </mat-list-item>
                <mat-list-item>
                    Start date : 01/01/2021
                </mat-list-item>
                <mat-list-item>
                    Status : In progress
                </mat-list-item>
                <mat-list-item>
                    Contractor : 
                </mat-list-item>
                <mat-list-item>
                    Contractor contact : 
                </mat-list-item>
            </mat-list>
        </mat-card-content>
    </mat-card>
    
</mat-dialog-content>
